# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
coverage/
*coverage*
coverage/*/
coverage/*/*/*/*
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/*
coverage/lcov-report/index.html
coverage/lcov-report/backend/index.html
coverage/lcov-report/backend/index.js.html
coverage/lcov-report/backend/controllers/index.html
coverage/lcov-report/backend/controllers/userController.js.html
coverage/lcov-report/backend/database/prisma/index.html
coverage/lcov-report/backend/database/prisma/prismaClient.js.html
coverage/lcov-report/backend/middleware/authMiddleware.js.html
coverage/lcov-report/backend/middleware/errorMiddleware.js.html
coverage/lcov-report/backend/middleware/index.html
coverage/lcov-report/backend/models/index.html
coverage/lcov-report/backend/models/userModel.js.html
coverage/lcov-report/backend/routes/index.html
coverage/lcov-report/backend/routes/userRoutes.js.html
coverage/lcov-report/backend/utils/generateToken.js.html
coverage/lcov-report/backend/utils/index.html
coverage/lcov-report/index.html
